<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
  	<div class="title bar">
  	  <div class="col-xs-6 col-md-offset-3">
  	  	<h1 class="text-center">Speed4.me</h1>
  	  </div>
      <div class="col-xs-2 col-md-3">
        <button type="button" style="float: right;">Sign In
        </button>
      </div>  
	</div>

	<div class="names">
	  <div class="col-md-6 col-md-offset-3">
        <p class="text-center">
        	Robert Eng, Gavy Aggarwal, Kevin Ye, Abirami Kurinchi-Vendhan
        </p>
      </div>
    </div>	
  </body>
</html>
