<!DOCTYPE html>
<html>
  <head>
    <title>Speed4me</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/css/style.css" />
  </head>


  <body>
    <div class="container">
    	<div class="row">
        <form>
          <button id="loginButton" class="btn btn-success" type="button">Sign In</button>
          <input id="userText" type="text" placeholder="Username">
        </form>
      </div>

      <div class="row">
          <img id="titleImg" src="/img/fillertitle.png">
      </div>
      <div class="row" style="padding-top: 20px; font-size: 30px;">
        <div class="col-md-12">
          <p class="text-center">
            Robert Eng, Gavy Aggarwal, Kevin Ye, Abirami Kurinchi-Vendhan
          </p>
        </div>
      </div>

    </div>


    <script src="/js/page.js"></script>
  </body>
</html>
