<!DOCTYPE html>
<html>
  <head>
    <title>Speed4me</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h2>speed4me</h2>
    <div id="login">
      Hi
    </div>
    <h5>Created at HackSC Fall 2014</h5>
    <h5>by Robert Eng, Gavy Aggarwal, Kevin Ye, & Abirami KV</h5>
    <div class="container">
    	<div class="row">
        <button id="loginButton" class="btn btn-success" type="button">Log In</button>

        <div id="loginBar" class="col-md-3">
			    <div class="input-group">
				    <input id="user" placeholder="Enter Reng here" type="text" class="form-control">
				    <span id="goButton" class="input-group-addon">Go!</span>
          </div>
				</div>

      </div>
    </div>



	      <div class="row">
	          <img id="titleImg" src="/img/fillertitle.png">
	      </div>
	      <div class="row" style="padding-top: 20px; font-size: 30px;">
	        <div class="col-md-12">
	          <p class="text-center">
	            Robert Eng, Gavy Aggarwal, Kevin Ye, Abirami Kurinchi-Vendhan
	          </p>
	        </div>
	      </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/page.js"></script>
  </body>
</html>

<!-- <div class="input-group">
    <textarea class="form-control custom-control" rows="3" style="resize:none"></textarea>
    <span class="input-group-addon btn btn-primary">Send</span>
</div>
-->
