body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #3498db;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

button {
	position: relative;
	margin-right: 100%;
}

.row {
  position: relative;
}

#titleImg {
	display: block;
	height: 200px;
	margin: auto;
}

#loginButton {
  float: right;
  position: relative;
}

#loginBar {
  display: none;
}

#input-group {
  display: inline-block;
}

#modalFoot {
  display: inline-block;
}

#deal_name {
  padding: 10px;
}

#deal_description {
  padding: 10px;
}

.col-sm-2 {
  margin: auto;
}

.trade {
	/*border: 5px solid red;*/
}


