body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #3498db;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

button {
	position: relative;
	margin-right: 100%;
}

.row {
  position: relative;
}

#titleImg {
	display: block;
	height: 200px;
	margin: auto;
}

#loginButton {
  float: right;
  position: relative;
}

#loginBar {
  display: none;
}

#input-group {
  display: inline-block;
}