@import url(http://fonts.googleapis.com/css?family=Open+Sans:200,300,500);
@import "mixins.less";

html,body {
  padding:50px 0px;
  margin:0px;
  font-family:'Open Sans', sans-serif;
  font-weight:300;
  color:white;
  background-color:#34AADC;
}

img {
  -webkit-user-drag:none;
}

h2 {
  text-align: center;
  font-weight:300;
  font-size:48px;
}

h5 {
  text-align: center;
  font-weight:300;
  font-size:18px;
}

#login {
  width:450px;
  display:block;
  margin:50px auto;
  padding:0px 10px;
  border-radius:10px;
  background:white;
  overflow:hidden;
}

input {
  width:100%;
  border:0px;
  background:#FFF;
  line-height:30px;
  font-size:24px;
  color:#333333;
  font-family:'Open Sans', sans-serif;
  font-weight:300;
}

p {
  text-align: center;
}

button {
	position: relative;
	margin-right: 100%;
}

.row {
  position: relative;
}

#titleImg {
	display: block;
	height: 200px;
	margin: auto;
}

#loginButton {
  float: right;
  position: relative;
}

#loginBar {
  display: none;
}

#input-group {
  display: inline-block;
}

#modalFoot {
  display: inline-block;
}

#deal_name {
  padding: 10px;
}

#deal_description {
  padding: 10px;
}

.col-sm-2 {
  margin: auto;
}

.trade {
	/*border: 5px solid red;*/
}
